.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

#content {
  height: calc(100% - 64px);
  width: 100%;
}

.layer {
  margin: 10px;
  display: flex;
  flex-direction: column;
}